.details {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }

    @include on-desktop {
      margin-bottom: 36px;
    }
  }
  &__title--margin-bottom {
    @include on-desktop {
      margin-bottom: 48px;
    }
  }
}

.detail {
  grid-column: 1 / -1;

  @include page-grid;

  &__link {
    position: relative;
    height: 130px;

    @include on-tablet {
      height: 187px;
    }

    @include on-desktop {
      height: 320px;
    }

    grid-column: span 1;
    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }
    &--square {
      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }
  &__photo {
    width: 100%;
    object-fit: cover;
    position: absolute;
    height: 130px;

    @include on-tablet {
      height: 187px;
    }

    @include on-desktop {
      height: 320px;
    }

    @include hover(transform, scale(1.05));
  }
  &__title {
    grid-column: 1 / -1;
    margin: 16px 0 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }
  &__description {
    grid-column: 1 / -1;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;

    @include on-desktop {
      grid-column: span 8;
    }
  }
  &__button {
    @include page-grid;
  }
}
