.main {
  background-color: $main-background-color;

  &__content {
    display: grid;
    row-gap: 80px;
    padding-block: 60px;
    background-color: $main-background-color;

    @include on-tablet {
      padding-block: 120px;
      row-gap: 120px;
    }

    @include on-desktop {
      row-gap: 144px;
    }
  }
}
